{% extends "../layout.html" %}
{% block body %}

<h3>User - {{ user["nickname"] }}</h3>
<hr/>

<div class="col-xs-3">
    <h4>Profile</h4>
    <ul class="list-group">
        <li class="list-group-item"><h4 class="text-muted">Username: {{ user["username"] }}</h4></li>
        <li class="list-group-item"><h4 class="text-muted">Nickname: {{ user["nickname"] }}</h4></li>
        <li class="list-group-item"><a data-toggle="modal" data-target="#modal-reset-password" href="#"
                                       class="form-control btn btn-primary">Reset Password</a></li>
    </ul>
</div>

<div class="col-xs-9">
    <h4>Statistics</h4>
    <div class="jumbotron">
        <p>Total Submissions: {{ data["totalsm"] }}</p>
        <p>Accepted: {{ data["totalac"] }}</p>
    </div>
</div>

{% include "../components/modal-reset-password.html" %}

{% end %}
