<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SduwhVJ</title>
    <link rel="stylesheet" href="/static/css/record.css">
    <link href="static/highlight/tomorrow.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- 展示 instruction-page 页 -->
        <div class="instruction-page page">
            <div class="info">
                <p class="line-1">
                    <span class="line-1_part-1 type"></span>
                    <span class="line-1_part-2 type"></span>
                </p>
                <p class="line-2">
                    <span class="line-2_part-1 type"></span>
                    <span class="line-2_part-2 type"></span>
                </p>
                <p class="line-3">
                    <span class="line-3_part-1 type"></span>
                    <span class="line-3_part-2 type"></span>
                    <!-- nickname -->
                    <span class="line-3_part-3 type"></span>
                    <span class="line-3_part-4 type"></span>
                </p>
                <p class="line-4">
                    <span class="line-4_part-1 type"></span>
                    <span class="line-4_part-2 type"></span>
                    <!-- acception -->
                    <span class="line-4_part-3 type"></span>
                    <span class="line-4_part-4 type"></span>
                </p>
                <p class="line-5">
                    <span class="line-5_part-1 type"></span>
                    <span class="line-5_part-2 type"></span>
                    <!-- submission -->
                    <span class="line-5_part-3 type"></span>
                    <span class="line-5_part-4 type"></span>
                </p>
                <p class="line-6">
                    <span class="line-6_part-1 type"></span>
                    <span class="line-6_part-2 type"></span>
                    <!-- accept_rate -->
                    <span class="line-6_part-3 type"></span>
                </p>
                <p class="line-7">
                    <span class="line-7_part-1 type"></span>
                </p>
                <p class="line-8">
                    <span class="line-8_part-1 type"></span>
                    <span class="line-8_part-2 type"></span>
                </p>
                <p class="line-9">
                    <span class="line-9_part-1 type"></span>
                    <span class="line-9_part-2 type"></span>
                    <span class="line-9_part-3 type"></span>
                </p>
                <p class="line-10">
                    <span class="line-10_part-1 type"></span>
                </p>
                <p class="line-11">
                    <span class="line-11_part-1 type"></span>
                </p>
            </div>
            <div class="angle-down">
                <span></span>
            </div>
        </div>

        <!-- 展示 first acception 页 -->
        <div class="first-ac-page page common-page">
            <div class="info">
                <div class="first-ac-page_title common-title">
                    <p class="desc">
                        <span class="time-1"></span>
                        <span class="time-2">年</span>
                        <span class="time-3"></span>
                        <span class="time-4">月</span>
                        <span class="time-5"></span>
                        <span class="text">日，你在这里</span>
                        <span class="accept">Accept</span>
                        <span class="text">了第一道题目!</span>
                    </p>
                    <p class="desc-none">
                        <span class="time-1"></span>
                        <span class="time-2">年</span>
                        <span class="time-3"></span>
                        <span class="time-4">月</span>
                        <span class="time-5"></span>
                        <span class="text">日，你来到了这里</span>
                        <span class="but">但是</span>
                    </p>
                </div>
                <div class="first-ac-page_code common-code">
                    <div class="title">
                        <p>
                            <a href="">A demo problem.</a>
                        </p>
                    </div>
                    <div class="code">
                        <div class="scroll-wrapper">
                            <pre class="code-content">
                                <code>
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="first-ac-page_pic common-pic">
                    <span class="pic"></span>
                </div>
            </div>
            <div class="angle-down">
                <span></span>
            </div>
        </div>

        <!-- 展示 last acception 页 -->
        <div class="last-ac-page page common-page">
            <div class="info">
                <div class="last-ac-page_title common-title">
                    <p class="desc">
                        <span class="time-1">2018</span>
                        <span class="time-2">年</span>
                        <span class="time-3">11</span>
                        <span class="time-4">月</span>
                        <span class="time-5">01</span>
                        <span class="text">日，你在这里</span>
                        <span class="accept">Accept</span>
                        <span class="text">了最后一道题目!</span>
                    </p>
                    <p class="desc-none">
                        <span class="time-1"></span>
                        <span class="time-2">年</span>
                        <span class="time-3"></span>
                        <span class="time-4">月</span>
                        <span class="time-5"></span>
                        <span class="text">日，你来到了这里</span>
                        <span class="but">但是</span>
                    </p>
                </div>
                <div class="last-ac-page_code common-code">
                    <div class="title">
                        <p>
                            <a href="">A demo problem.</a>
                        </p>
                    </div>
                    <div class="code">
                        <div class="scroll-wrapper">
                            <pre class="code-content">
                                <code>
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="last-ac-page_pic common-pic">
                    <span class="pic"></span>
                </div>
            </div>
            <div class="angle-down">
                <span></span>
            </div>
        </div>

        <!-- 展示 difficult-ac-page 页 -->
        <div class="difficult-ac-page page common-page">
                <div class="info">
                    <div class="difficult-ac-page_title common-title">
                        <p class="desc">
                            <span class="text">这道题你</span>
                            <span class="wa">wa</span>
                            <span class="text">了</span>
                            <span class="times"></span>
                            <span class="text">次，依然</span>
                            <span class="insist">没有放弃!</span>
                        </p>
                        <p class="desc-none">
                            <span class="text">emmmmmmmm......</span>
                        </p>
                    </div>
                    <div class="difficult-ac-page_code common-code">
                        <div class="title">
                            <p>
                                <a href=""></a>
                            </p>
                        </div>
                        <div class="code">
                            <div class="scroll-wrapper">
                                <pre class="code-content">
                                    <code>
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                    <div class="difficult-ac-page_pic common-pic">
                        <span class="pic"></span>
                    </div>
                </div>
                <div class="angle-down">
                    <span></span>
                </div>
        </div>

        <!-- 展示 contest-page 页 -->
        <div class="contest-page page">
            <div class="info">
                <div class="title">
                    <div class="content-wrapper">
                        <span class="letter1">l</span>
                        <span class="letter2">a</span>
                        <span class="letter3">t</span>
                        <span class="letter4">e</span>
                        <span class="letter5">s</span>
                        <span class="letter6">t&nbsp;</span>
                        <span class="letter1">c</span>
                        <span class="letter2">o</span>
                        <span class="letter3">n</span>
                        <span class="letter4">t</span>
                        <span class="letter5">e</span>
                        <span class="letter6">s</span>
                        <span class="letter7">t</span>
                    </div>
                </div>
                <div class="list">
                    <div class="scroll-wrapper">
                        <ul>
                        </ul>
                    </div>
                    <div class="face"></div>
                </div>
            </div>
            <div class="angle-down">
                <span></span>
            </div>
        </div>

        <!-- 展示 rank-page 页 -->
        <div class="rank-page page">
            <div class="info">
                <div class="container">
                    <div class="cube-wrap">
                        <input type="radio" name="cuber" class="controller" id="1" checked="true">
                        <input type="radio" name="cuber" class="controller" id="2">
                        <input type="radio" name="cuber" class="controller" id="3">
                        <input type="radio" name="cuber" class="controller" id="4">
                        <input type="radio" name="cuber" class="controller" id="5">
                        <input type="radio" name="cuber" class="controller" id="6">
                        <div class="cube">
                            <div class="cube-face front">
                                <span>rank cube</span>
                            </div>
                            <div class="cube-face back">
                                <ul>
                                    <li>你</li>
                                    <li title="qht">nickname: qhtqhtqhtqhtqhtqhtqhtqht</li>
                                    <li>rank: 3</li>
                                    <li>accept: 20</li>
                                    <li>wa: 50</li>
                                </ul>
                            </div>
                            <div class="cube-face left">
                                <ul>
                                    <li>ac第一名</li>
                                    <li title="">nickname: user1</li>
                                    <li>rank: 1</li>
                                    <li>accept: 30</li>
                                    <li>wa: 30</li>
                                </ul>
                            </div>
                            <div class="cube-face right">
                                <ul>
                                    <li>wa第一名</li>
                                    <li title="">nickname: user2</li>
                                    <li>rank: 4</li>
                                    <li>accept: 20</li>
                                    <li>wa: 50</li>
                                </ul>
                            </div>
                            <div class="cube-face top">
                                <ul>
                                    <li>你的前一名</li>
                                    <li title="">nickname: user3</li>
                                    <li>rank: 2</li>
                                    <li>accept: 25</li>
                                    <li>wa: 40</li>
                                </ul>
                            </div>
                            <div class="cube-face bottom">
                                <ul>
                                    <li>你的后一名</li>
                                    <li title="">nickname: user4</li>
                                    <li>rank: 4</li>
                                    <li>accept: 15</li>
                                    <li>wa: </li>
                                </ul>
                            </div>
                        </div>
                        <div class="cube-left cube-btn">
                            <label for="6" class="cube-action"></label>
                            <label for="1" class="cube-action"></label>
                            <label for="2" class="cube-action"></label>
                            <label for="3" class="cube-action"></label>
                            <label for="4" class="cube-action"></label>
                            <label for="5" class="cube-action"></label>
                        </div>
                        <div class="cube-right cube-btn">
                            <label for="2" class="cube-action"></label>
                            <label for="3" class="cube-action"></label>
                            <label for="4" class="cube-action"></label>
                            <label for="5" class="cube-action"></label>
                            <label for="6" class="cube-action"></label>
                            <label for="1" class="cube-action"></label>
                        </div>
                        <div class="indicators">
                            <label for="1" class="indicator"></label>
                            <label for="2" class="indicator"></label>
                            <label for="3" class="indicator"></label>
                            <label for="4" class="indicator"></label>
                            <label for="5" class="indicator"></label>
                            <label for="6" class="indicator"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="angle-down">
                <span></span>
            </div>
        </div>

        <!-- 展示 achievement-page 页 -->
        <div class="achievement-page page">
            <div class="info">
                <div class="wall">
                    <div class="scroll-wrapper">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="angle-down">
                <span></span>
            </div>
        </div>

        <!-- 展示 time-page 页 -->
        <div class="time-page page">
            <div class="info">
                <div class="clock-body">
                    <div class="scale">
                        <ul>
                            <li>
                                <span>
                                    <a href="http://acm.wh.sdu.edu.cn:8000/problem">去做题</a>
                                </span>
                            </li>
                            <li>
                                <span>距</span>
                            </li>
                            <li>
                                <span>离</span>
                            </li>
                            <li>
                                <span>上</span>
                            </li>
                            <li>
                                <span>一</span>
                            </li>
                            <li>
                                <span>次</span>
                            </li>
                            <li>
                                <span>accept</span>
                            </li>
                            <li>
                                <span>已</span>
                            </li>
                            <li>
                                <span>经</span>
                            </li>
                            <li>
                                <span>过</span>
                            </li>
                            <li>
                                <span>去</span>
                            </li>
                            <li>
                                <span>了</span>
                            </li>
                        </ul>
                    </div>
                    <div class="pointer"></div>
                    <div class="days">
                        <span class="text1"></span>
                        <span class="text2">天</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- 展示页面 logo-->
        <div class="logo">
            <a href="http://acm.wh.sdu.edu.cn:8000">
                <span>Sdu</span>
                <span>wh</span>
                <span>VJ</span>
            </a>
        </div>

        <!-- 侧边功能导航 -->
        <div class="function-bar">
            <div class="scal-wrap">
                <div class="main"></div>
                <div class="problem">
                    <a href="http://acm.wh.sdu.edu.cn:8000/problem">problem</a>
                </div>
                <div class="submission">
                    <a href="http://acm.wh.sdu.edu.cn:8000/submission">submission</a>
                </div>
                <div class="contest">
                    <a href="http://acm.wh.sdu.edu.cn:8000/contest">contest</a>
                </div>
                <div class="logout">
                    <a href="">logout</a>
                </div>
                <div class="reset">
                    <a href="">reset</a>
                </div>
            </div>
        </div>

        <!-- 侧边索引导航 -->
        <div class="index-bar">
            <ul>
                <li class="active">instruction</li>
                <li>first_ac</li>
                <li>last_ac</li>
                <li>difficult_ac</li>
                <li>contest</li>
                <li>rank</li>
                <li>achievement</li>
                <li>time</li>
            </ul>
        </div>

        <!-- reset 弹层 -->
        <div class="alert-wrapper">
            <div class="alert-box">
                <div class="old-password">
                    <span class="title">old</span>
                    <input type="password" autofocus>
                    <span class="hint">原密码错误!</span>
                </div>
                <div class="new-password">
                    <span class="title">new</span>
                    <input type="password">
                    <span class="hint"></span>
                </div>
                <div class="new-password-repeat">
                    <span class="title">confirm</span>
                    <input type="password">
                    <span class="hint">两次密码输入不一致!</span>
                </div>
                <div class="btn">
                    <span class="comfirm">确认</span>
                    <span class="cancel">取消</span>
                </div>
            </div>
            <div class="correct"></div>
        </div>
    </div>

    <script src="../../static/highlight/highlight.pack.js"></script>
    <script src="../../static/jquery.min.js"></script>
    <script src="../../static/js/record.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>
<!--
#E87A90;
#F05E1C;
#FFB11B;
#90B44B;
#5DAC81;
#D0104C;
#58B2DC;
#8A6BBE;
#B55D4C;
#BF6766;
#81C7D4; -->
