{% extends "../layout.html" %}
{% block body %}

<h3>{{ contest["title"] }}</h3>
<hr/>

<ul class="nav nav-tabs">
    <li><a href="/contest/overview/{{ str(contest[" _id"]) }}">Overview</a></li>
    <li class="active"><a href="/contest/problem/{{ str(contest[" _id"]) }}">Problem</a></li>
    <li><a href="/contest/submission/{{ str(contest[" _id"]) }}">Submission</a></li>
    <li><a href="/contest/rank/{{ str(contest[" _id"]) }}">Rank</a></li>
</ul>
<br/>

{% for i in range(len(contest["problems"])) %}
{% if i == n %}
<a href="/contest/problem/{{ str(contest["
   _id"]) }}?n={{ i }}" class="btn btn-primary">{{ chr(ord("A") + i) }}</a>&nbsp;
{% else %}
<a href="/contest/problem/{{ str(contest["
   _id"]) }}?n={{ i }}" class="btn btn-default">{{ chr(ord("A") + i) }}</a>&nbsp;
{% end %}
{% end %}
<hr/>

<h3 class="text-center">
    {{ problem["alias"] or problem["title"] }}
</h3>

<p class="text-muted pull-right">
    Time Limit: {{ problem["timelimit"] }} ms /
    Memory Limit: {{ problem["memorylimit"] }} kb
</p>

<h4>Description</h4>
<iframe id="frame-description" src="{{ problem["
        description_url"] }}" width="100%" frameborder="0"   style="height:900px"></iframe>
<h4>Source</h4>
<pre>{% raw problem["source"].strip() if problem["source"].strip() else "None" %}</pre>

<form name="codeForm" action="/contest/submit/{{ str(contest[" _id"]) }}" method="POST">
<input type="hidden" name="n" value="{{ n }}"/>
<h4>Submit</h4><textarea name="code" class="form-control" rows="10"></textarea>
<br/>
<div class="form-inline">
    <select name="language" class="form-control">
        {% for item in remotes %}
        <option value="{{ item['language']}}">{{ item['remote'] }}</option>
        {% end %}
    </select>&nbsp;
    {% if username %}
    {% if now > contest["begintime"] and now < contest["endtime"] %}
    <button type="submit" class="btn btn-primary">Submit</button>
    {% else %}
    <span>Can't submit now</span>
    {% end %}
    {% else %}
    <span>Please<a data-toggle="modal" data-target="#modal-login" href="#"> Login</a></span>
    {% end %}
</div>
</form>

<script>
    function encodeSubmit() {
        codeForm.code.value = Base64.encode(codeForm.code.value);
    }
</script>

{% end %}
