<script>
    function confirmPasswordSubmit(event) {
        event.preventDefault();
        var passwordNew1 = document.getElementById("password-new-1").value;
        var passwordNew2 = document.getElementById("password-new-2").value;
        if (passwordNew1 != passwordNew2) {
            alert("Please confirm new password");
            return;
        }
        document.getElementById("reset-password-form").submit();
    }
</script>

<div class="modal fade" id="modal-reset-password">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reset Your Password</h4>
            </div>
            <form id="reset-password-form" action="/user/resetpassword" method="POST"
                  onsubmit="confirmPasswordSubmit(event)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <input type="password" name="password_old" placeholder="Old Password" autofocus="autofocus"
                                   class="form-control"/>
                            <br/>
                            <input id="password-new-1" type="password" name="password_new" placeholder="New Password"
                                   class="form-control"/>
                            <br/>
                            <input id="password-new-2" type="password" placeholder="Confirm New Password"
                                   class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Apply</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
