<script>
    function handleEnterAddProblem(event) {
        if (event.keyCode == 13) {
            addProblem(event);
        }
    }

    function addProblem(event) {
        event.preventDefault();
        var soj = document.getElementById("form-soj");
        var sid = document.getElementById("form-sid");
        var alias = document.getElementById("form-alias");
        if (!soj.value || !sid.value) {
            return;
        }
        var tr = document.createElement("tr");
        tr.innerHTML = "<td>" + soj.value + "-" + sid.value + "</td>" +
            "<td>" + alias.value + "</td>" +
            "<td><a onclick='delProblem(event)' href='#'>Delete</a></td>"
        document.getElementById("table-problem").appendChild(tr);
        sidInt = parseInt(sid.value);
        if (sidInt)
            sid.value = sidInt + 1;
        alias.value = "";
    }

    function delProblem(event) {
        event.preventDefault();
        document.getElementById("table-problem").removeChild(event.target.parentNode.parentNode);
    }

    function handleCreateContestSubmit(event) {
        event.preventDefault();
        var tableProblem = document.getElementById("table-problem");
        var problemListStr = ""
        for (var i = 0; i < tableProblem.childNodes.length; i++) {
            problemListStr += tableProblem.childNodes[i].childNodes[0].innerText;
            problemListStr += "|";
            problemListStr += tableProblem.childNodes[i].childNodes[1].innerText;
            problemListStr += "\n";
        }
        document.getElementById("form-problem").value = problemListStr;
        document.getElementById("contest-create-form").submit();
    }
</script>

<div class="modal fade" id="modal-contest-create">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Contest</h4>
            </div>
            <form id="contest-create-form" action="/contest/create" method="POST"
                  onsubmit="handleCreateContestSubmit(event)">
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                        <h5>Title:</h5>
                        <input type="text" name="title" autofocus="autofocus" class="form-control"/>
                        <h5>Time:</h5>
                        <div class="form-inline">
                            <input type="text" name="begintime"
                                   onfocus="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                   placeholder="YYYY-MM-DD hh:mm:ss" class="form-control"/>
                            &nbsp; ~ &nbsp;
                            <input type="text" name="endtime"
                                   onfocus="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                   placeholder="YYYY-MM-DD hh:mm:ss" class="form-control"/>
                        </div>
                        <h5>Password:</h5>
                        <input type="password" name="password" placeholder="Leave blank for public"
                               class="form-control"/>
                        <h5>Description:</h5>
                        <textarea name="description" rows="3" class="form-control"></textarea>
                        <h5>Problems:</h5>
                        <input id="form-problem" name="problem" type="hidden"/>
                        <div class="form-inline">
                            <select id="form-soj" class="form-control">
                                {% for oj in ojs %}
                                <option value="{{ oj['oj'] }}">{{ oj['oj'] }}</option>
                                {% end %}
                            </select>&nbsp;
                            <input id="form-sid" type="text" onkeypress="handleEnterAddProblem(event)" placeholder="ID"
                                   class="form-control"/>&nbsp;
                            <input id="form-alias" type="text" onkeypress="handleEnterAddProblem(event)"
                                   placeholder="Alias" class="form-control"/>&nbsp;
                            <a onclick="addProblem(event)" href="#" class="btn btn-default pull-right"><span
                                    class="glyphicon glyphicon-plus"></span></a>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <th>Problem</th>
                            <th>Alias</th>
                            <th>#</th>
                            </thead>
                            <tbody id="table-problem"></tbody>
                        </table>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"/>
                    Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
